
<app-header></app-header>
<div class="container" style="max-width: 62% !important;">


  <h2 class="header-title  margin-top-5">Create Ad</h2>

  <div class="form-group">
    <label>Product Name:</label>*
    <input type="text" class="form-control" id="product_name" placeholder="ex:Lenovo laptop" [(ngModel)]="cAdd.name">
  </div>

  <div class="form-group">
    <label>Add Image(*.jpg) for this Ad</label>*
    <input type="file" class="form-control-file" id="featureImg" [(ngModel)]="cAdd.primaryImage" (change)="featureImageOnChange($event)">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="createAdd()">Create Ad</button>
  </div>

  <br />
  <div class="alert alert-success" role="alert" *ngIf="error == 1">
    Ad created successfully.
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error == 2">
    Please fill add required fields.
  </div>
  <hr />
  <br />

  <h2>Product List in Selected Category</h2>
  <table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
      <th>
         Name
      </th>
      <th>
         Image
      </th>
      <th>
        Views
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of adList">
      <td>
        {{item.title}}
      </td>
      <td *ngIf="item.imageUrl != ''">
        <img src="{{item.imageUrl}}" style="max-height: 100px; max-width: 100px;"/>
      </td>
      <td>
        {{item.views}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
