<app-header></app-header>
<div class="container" style="max-width: 62% !important;">


  <h2 class="header-title  margin-top-5">Service Provider Profile</h2>

  <div class="form-group">
    <label >User Name:</label>
    <input type="text" class="form-control" id="rusername" [(ngModel)]="rep.email">
  </div>

  <div class="form-group">
    <label for="rpassword">Password:</label>
    <input type="text" class="form-control" id="rpassword" [(ngModel)]="rep.phone">
  </div>
  <!--<div class="form-group">-->
  <!--<label for="description">Description :</label>-->
  <!--<input type="text" class="form-control" id="description" [(ngModel)]="rep.description">-->
  <!--</div>-->
  <button type="submit" class="btn btn-primary" (click)="updateServiceProvider()">Update Profile</button>
  <br />
  <span *ngIf="msg == 1" style="color: red">Please fill all fields</span>
  <span *ngIf="msg == 2" style="color: green">Profile updated successfully</span>
</div>
