<nav id="adminnav" class="navbar bg-dark">
  <span class="navbar-brand mb-0 h1 navbar-left"><a class="navbar-brand" href="#">My Manual</a></span>

  <span class="navbar-text my-xl-0 navbar-right">
<span>
        Signed in as <a href="#" class="navbar-link">{{username}}</a>
</span>


     </span>
</nav>


<!-- Sidebar -->
<nav id="sidebar">
  <ul class="sidebar-nav">
    <!--<li>-->
    <!--<a href="" disabled="disabled">Add Company </a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Add Representative</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Product</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Category</a>-->
    <!--</li>-->

    <li>
      <a style="color: white; cursor: pointer" (click)="logout()">logout</a>
    </li>
  </ul>
  <!-- /#sidebar-wrapper -->
</nav>

<!-- Page Content -->
<div id="content">
  <!-- We'll fill this with dummy content -->

  <div class="container">
