<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/logo.png" style="min-height: 62px;min-width: 289px;max-height: 38px;max-width: 255px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


      </ul>
      <div *ngIf="!glob.hasSession" >
        <ul class="navbar-nav topmenulist">
            <li class="nav-item active" >
              <a href="/home" class="nav-link btn btn-primary" style="cursor: pointer; max-height: 39px; color: white;">{{ 'HEADER.PRODUCTLISTING' | translate}}</a>
            </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'HEADER.LOGINAS' | translate}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button" (click)="loginAs('consumer')">{{ 'HEADER.LOGIN' | translate}}</button>
                  <button class="dropdown-item" type="button" (click)="loginAs('representative')">{{ 'HEADER.REP' | translate}}</button>
                  <button class="dropdown-item" type="button" (click)="loginAs('sp')">{{ 'HEADER.SP' | translate}}</button>
                  <button class="dropdown-item" type="button" (click)="loginAs('ad-manager')">{{ 'HEADER.AM' | translate}}</button>
                  <button class="dropdown-item" type="button" (click)="loginAs('company')">{{ 'HEADER.COMPANY' | translate}}</button>
                  <button class="dropdown-item" type="button" (click)="loginAs('system-admin')">{{ 'HEADER.SYSTEMADMIN' | translate}}</button>
                </div>
              </div>
            </li>
          </ul>
      </div>
    <div *ngIf="glob.hasSession">
      <ul class="navbar-nav topmenulist">
        <li style="padding-top: 9px;">
          Login as <b>{{glob.sessionObj.username}}</b> |
        </li>
        <li>
          <a class="nav-link btn btn-primary" style="cursor: pointer; max-height: 39px; color: white;" href="/home" >{{ 'HEADER.PRODUCTLISTING' | translate}}</a>
        </li>
        <li class="nav-item active" *ngIf="glob.sessionObj.role == 'consumer'">
          <a href="/home/userprofile" class="nav-link btn btn-primary" style="cursor: pointer; max-height: 39px; color: white;">{{ 'HEADER.PROFILE' | translate}}</a>
        </li>
        <li>
           <app-logout></app-logout>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
        <li>
          <a (click)="setLang('en')" class="nav-link" style=" cursor: pointer"><img src="/assets/en.png" style="max-height: 37px; max-width: 30px; min-height: 23px; min-width: 40px;" /></a>
        </li>
        <li class="nav-item" >
          <a (click)="setLang('se')" class="nav-link" style=" cursor: pointer"><img src="/assets/se.png" style="max-height: 37px; max-width: 30px; min-height: 23px; min-width: 40px;" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
