<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyManuals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


      </ul>
      <div *ngIf="!glob.hasSession" >
        <ul class="navbar-nav">
            <li class="nav-item active" >
              <a href="/home" class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.PRODUCTLISTING' | translate}}</a>
            </li>
              <li class="nav-item active" (click)="loginAs('consumer')">
                  <a class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.LOGIN' | translate}} </a>
              </li>
              <li class="nav-item active" (click)="loginAs('representative')">
                  <a class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.REP' | translate}} </a>
              </li>
              <li class="nav-item active" (click)="loginAs('company')">
                  <a class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.COMPANY' | translate}} </a>
              </li>
          </ul>
      </div>
    <div *ngIf="glob.hasSession">
      <ul class="navbar-nav">
        <li style="padding-top: 9px;">
          Login as <b>{{glob.sessionObj.username}}</b> |
        </li>
        <li>
          <a href="/home" class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.PRODUCTLISTING' | translate}} |</a>
        </li>
        <li class="nav-item active" *ngIf="glob.sessionObj.role == 'consumer'">
          <a href="/home/userprofile" class="nav-link" style="text-decoration: underline; cursor: pointer">{{ 'HEADER.PROFILE' | translate}}</a>
        </li>
        <li style="padding-top: 9px;">
           <app-logout></app-logout>
        </li>
      </ul>


    </div>
    <div>
      <ul class="navbar-nav">
        <li>
          <a (click)="setLang('en')" class="nav-link" style=" cursor: pointer">en</a>
        </li>
        <li class="nav-item" >
          <a (click)="setLang('se')" class="nav-link" style=" cursor: pointer">se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
