<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">



  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
        <i class="fab fa-facebook-square fa-3x" style="color: cornflowerblue"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
        <i class="fab fa-twitter fa-3x" style="color: cornflowerblue"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
        <i class="fab fa-google-plus-square fa-3x" style="color: red"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" mdbWavesEffect>
        <!-- <mdb-icon icon="linkedin"></mdb-icon> -->
        
      </a>
    </li>
   
  </ul>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">My Manuals</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
