
<!-- Sidebar -->
<nav id="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a href="/company">Add Representative </a>
    </li>
    <li>
      <a href="/company/serviceprovider">Add Service Provider</a>
    </li>
    <!--<li>-->
      <!--<a href="">Product</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="">Category</a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a style="color: white; cursor: pointer" (click)="logout()">logout</a>-->
    <!--</li>-->
  </ul>
  <!-- /#sidebar-wrapper -->
</nav>

<!-- Page Content -->
<div id="content">
  <!-- We'll fill this with dummy content -->

  <div class="container">
