
<!-- Sidebar -->
<nav id="sidebar">
  <ul class="sidebar-nav">
    <!--<li>-->
      <!--<a href="" disabled="disabled">Add Company </a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="">Add Representative</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="">Product</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="">Category</a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a style="color: white; cursor: pointer" (click)="logout()">logout</a>-->
    <!--</li>-->
  </ul>
  <!-- /#sidebar-wrapper -->
</nav>

<!-- Page Content -->
<div id="content">
  <!-- We'll fill this with dummy content -->

  <div class="container">
