
<app-header></app-header>
<div class="container" style="max-width: 62% !important;">
  <br />
  <h2>Service Providers List</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Authorization</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pro of servicePro" >
      <td>
          {{pro.id}}
      </td>
      <td>
        {{pro.name}}
      </td>
      <td>
        {{pro.username}}
      </td>
      <td>
        <a (click)="allowThisSP(pro)" class="btn btn-success" *ngIf="!pro.authentication">Allowed</a>
        <a (click)="revokeThisSP(pro)" class="btn btn-danger" *ngIf="pro.authentication">Revoke</a>
      </td>



    </tr>
    </tbody>
  </table>
</div>

