<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4"></h2>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br />
          <br />

<br />
<br />
<div class="card rounded-0">
  <div class="card-header">
    <h3 class="mb-0 col-md-8" style="float: left;"> {{ 'LOGIN.LOGINASACONSUMER' | translate }}</h3>
  </div>
  <div class="card-body">
<div class="form-group">
  <label for="consumername">{{ 'LOGIN.USERNAME' | translate }}</label>
  <input type="text" class="form-control form-control-lg rounded-0" name="consumername" id="consumername"  [(ngModel)]="user.username">
  <div class="invalid-feedback" *ngIf="error == 'username'" [className]="error == 'username' ? 'show' : 'hide'">{{ 'ERROR.USERNAME' | translate }}</div>
</div>
<div class="form-group">
  <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
  <input type="password" class="form-control form-control-lg rounded-0" id="consumerpassword" name="consumerpassword"  autocomplete="new-password" [(ngModel)]="user.password">
  <div class="invalid-feedback" *ngIf="error == 'password'" [className]="error == 'password' ? 'show' : 'hide'">{{ 'ERROR.PASSWORD' | translate }}</div>
</div>
<div>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <!--<span class="custom-control-description small text-dark">Remember me on this computer</span>-->
  </label>
</div>
<div style="color: red" *ngIf="error == 'all'" [className]="error == 'all' ? 'show' : 'hide'">{{ 'ERROR.EMPTYINPUT' | translate }}</div>
<div style="color: red" *ngIf="error == 'notfound'" [className]="error == 'notfound' ? 'show' : 'hide'">{{ 'ERROR.USERNOTFOUND' | translate }}</div>
<br />
<button type="submit" class="btn btn-secondary btn-lg float-right" id="btnLogin" (click)='clickMe()'>{{ 'LOGIN.LOGIN' | translate }}</button>
    <img *ngIf="loader"  src="./assets/loader.gif" style="max-height: 28px;max-width: 28px"/>
  </div>
  <hr />
  <p>New to Mymanual?</p>
  <span class="text-center"><h3 (click)="movetosignup()" class="btn btn-primary col-md-6">{{ 'LOGIN.DETAILLOGIN' | translate }}</h3></span>
</div>
</div>
</div>
<!--/row-->
</div>
<!--/col-->
</div>
<!--/row-->
</div>
