<!--<input [(ngModel)]="user.username" placeholder="User Name">-->
<!--<input [(ngModel)]="user.password" placeholder="Password">-->

<!--<button  (click)='clickme()'>-->
  <!--Click me-->
<!--</button>-->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyManuals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active" >
            <a href="/home" class="nav-link" style="text-decoration: underline; cursor: pointer">product listing</a>
          </li>
            <li class="nav-item active" (click)="loginAs('consumer')">
                <a class="nav-link" style="text-decoration: underline; cursor: pointer">login </a>
            </li>
            <li class="nav-item active" (click)="loginAs('representative')">
                <a class="nav-link" style="text-decoration: underline; cursor: pointer">rep </a>
            </li>
            <li class="nav-item active" (click)="loginAs('company')">
                <a class="nav-link" style="text-decoration: underline; cursor: pointer">admin </a>
            </li>
        </ul>
    </div>
</nav> -->
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--<app-header></app-header>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4"></h2>
      <div class="row">
        <div class="col-md-6 mx-auto">
            <br />
            <br />
          <!-- form card login -->
            <app-company *ngIf="displayPage == 1"></app-company>
            <app-representative *ngIf="displayPage == 2"></app-representative>
            <app-consumer *ngIf="displayPage == 3"></app-consumer>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->


<!--<script>-->
    <!--$("#btnLogin").click(function(event) {-->

<!--//Fetch form to apply custom Bootstrap validation-->
        <!--var form = $("#formLogin")-->

        <!--if (form[0].checkValidity() === false) {-->
            <!--event.preventDefault()-->
            <!--event.stopPropagation()-->
        <!--}-->

        <!--form.addClass('was-validated');-->
    <!--});-->


<!--</script>-->
