<div class="row">
  <h2>Send email</h2>
    <div class="col-md-12">
      <input type="text" class="form-control" placeholder="Subject" [(ngModel)] = "model.subject"/>
    </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control" placeholder="Body" [(ngModel)] = "model.body">
    
        </textarea>
      </div>
      </div>
<br />
      <div class="row">
          <div class= "col-md-offset-8 col-md-4">
            <button class="btn btn-success" (click)="send()">Send</button>
            <button class="btn btn-default" (click)="reset()">Reset</button>
          </div>
          </div>
<br />
<div class="alert alert-success" *ngIf="emailSent">
  <strong>Success!</strong> Email Successfully sent.
</div>
    
      
