

<div class="container">

  <ol class="breadcrumb" style="margin-bottom: 0px; background: #fff">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Product</a></li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="card" style="margin-top: 0px;">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content" style="max-width: 497px; max-height: 310px; min-height: 310px;">
            <div [ngClass]="(imageToShow==0+i )?'tab-pane active':'tab-pane'" id="pic-{{i}}" *ngFor="let m of proDetail.secondaryImages; let i = index"><img src="{{m.url}}" (click)="open(i)"/></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li style="text-align: center;" [ngClass]="{'active': imageToShow==0+i}" *ngFor="let m of proDetail.secondaryImages; let i = index"><a data-target="#pic-{{i}}" data-toggle="tab" (click)="changeImage(i)"><img style="min-height: 67px; min-width: 88px; max-height: 67px; max-width: 88px;" src="{{m.url}}" /><span *ngIf="repPer" class="btn btn-danger btn-sm" (click)="deleteImage(m.id)"> Delete</span></a></li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{proDetail.name}} </h3>
          <p>Model: {{proDetail.model}}</p>
          <!--<div class="rating">-->
            <!--<div class="stars">-->
              <!--<span class="fa fa-star checked"></span>-->
              <!--<span class="fa fa-star checked"></span>-->
              <!--<span class="fa fa-star checked"></span>-->
              <!--<span class="fa fa-star"></span>-->
              <!--<span class="fa fa-star"></span>-->
            <!--</div>-->
            <!--&lt;!&ndash;<span class="review-no">41 reviews</span>&ndash;&gt;-->
          <!--</div>-->
          <p class="product-description">{{proDetail.description}}</p>
          <!--<h4 class="price">current price: <span>$180</span></h4>-->
          <!--<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>-->
          <!--<h5 class="sizes">sizes:-->
            <!--<span class="size" data-toggle="tooltip" title="small">s</span>-->
            <!--<span class="size" data-toggle="tooltip" title="medium">m</span>-->
            <!--<span class="size" data-toggle="tooltip" title="large">l</span>-->
            <!--<span class="size" data-toggle="tooltip" title="xtra large">xl</span>-->
          <!--</h5>-->
          <!--<h5 class="colors">colors:-->
            <!--<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>-->
            <!--<span class="color green"></span>-->
            <!--<span class="color blue"></span>-->
          <!--</h5>-->
        <app-button *ngIf="proDetail.id && likedBtn" [status]="likeBtnStatus" [productId]="proDetail.id">

        </app-button>

        </div>
        <br />
        <br />

      </div>
      <h1>{{ 'HOME.TITLE' | translate}}</h1>
      <h1 style="clear: both; margin-top: 20px;text-decoration: underline">Manuals</h1>
      <table class="table table-striped custab">
        <thead>
        <tr>

          <th>Manual link</th>
          <th>Description</th>
          <th>Add Note</th>
          <th>Rating</th>
          <th>Notes</th>

          <th class="text-center" *ngIf="repPer">Action</th>
        </tr>
        </thead>
        <tr *ngFor="let m of proDetail.manuals">
          <td><a href="{{m.url}}" download>link</a></td>
          <td>{{m.description}}</td>
          <td>
            <!--<editor apiKey="wfyhqzeqlsvsmi9spof4jftgytcvofg97czitzpaz0lsdnc8" ></editor>-->
          </td>
          <td>
            <app-rating [rating]='m.rating' [itemId]='m.id' (ratingClick)='ratingComponentClick($event)'></app-rating>
          </td>
          <td>
            <!--<div [froalaEditor] [(froalaModel)]="m.notes"></div>-->
            <button class="btn btn-success" (click)="addNote(m)">Add Notes</button>
          </td>
          <td class="text-center" *ngIf="repPer"> <a class="btn btn-danger btn-xs" (click)="removeManual(m.id)" style="color: #fff;"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
