
<table class="table table-striped custab">
  <thead>
  <tr>
    <th>{{ 'PRODUCTDETAIL.NAME' | translate}}</th>
    <th>{{ 'PRODUCTDETAIL.EMAIL' | translate}}</th>
    <th>{{ 'PRODUCTDETAIL.PHONE' | translate}}</th>
    <th>{{ 'PRODUCTDETAIL.COMPANY' | translate}}</th>
  </tr>
  </thead>
  <tr *ngFor="let m of serviceProviders">
    <td>{{m.name}}</td>
    <td>{{m.email}}</td>
    <td>
      {{m.phone}}
    </td>
    <td>
      {{m.company}}
    </td>
  </tr>
</table>
<!--
"NAME": "Name",
    "EMAIL": "Email",
    "PHONE": "Phone",
    "COMPANY": "Company",
-->
