<!--<input [(ngModel)]="user.username" placeholder="User Name">-->
<!--<input [(ngModel)]="user.password" placeholder="Password">-->

<!--<button  (click)='clickme()'>-->
<!--Click me-->
<!--</button>-->


<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4">Representative Signup</h2>
      <div class="row">
        <div class="col-md-6 mx-auto">

          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Signup</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="uname1">Name*</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1"  [(ngModel)]="user.name">
              </div>
              <div class="form-group">
                <label for="uname1">Email*</label>
                <input type="email" class="form-control form-control-lg rounded-0" name="uname1" id="email"  [(ngModel)]="user.email">
              </div>
              <div class="form-group">
                <label for="uname1">Username*</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" [(ngModel)]="user.username">
              </div>
              <div class="form-group">
                <label>Password*</label>
                <input type="password" class="form-control form-control-lg rounded-0" id="pwd1"  autocomplete="new-password" [(ngModel)]="user.password">
              </div>
              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <!--<span class="custom-control-description small text-dark">Remember me on this computer</span>-->
                </label>

              </div>


              <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin" (click)='clickme()'>Signup</button>

              <div style="color: red" *ngIf="message == 'success'" [className]="message == 'success' ? 'sucMsg' : 'hide'">Congratulation! you are signed up successfully</div>
              <div style="color: red" *ngIf="message == 'error'" [className]="message == 'error' ? 'show' : 'hide'">Please fill all fields</div>
            </div>
            <!--/card-block-->


          </div>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->


<!--<script>-->
<!--$("#btnLogin").click(function(event) {-->

<!--//Fetch form to apply custom Bootstrap validation-->
<!--var form = $("#formLogin")-->

<!--if (form[0].checkValidity() === false) {-->
<!--event.preventDefault()-->
<!--event.stopPropagation()-->
<!--}-->

<!--form.addClass('was-validated');-->
<!--});-->


<!--</script>-->
