<div class="container">
  <ol class="breadcrumb" style="margin-bottom: 0px; background: #fff">
    <li class="breadcrumb-item"><a href="#">{{ 'HOME.HOME' | translate}}</a></li>
    <li class="breadcrumb-item"><a href="#">{{ 'HOME.PRODUCT' | translate}}</a></li>
  </ol>
  <h2 class="header-title ">{{ 'HOME.PRODUCTLISTING' | translate}}</h2>
  <p></p>
  <div class="row">
    <div class="col-md-8">
      <label for="select_categroy">{{ 'HOME.SELECTCATEGORY' | translate}} :</label>
      <!--<select class="form-control" id="select_categroy"  [(ngModel)]="category" (change)="loadProdudts($event)">-->
        <!--&lt;!&ndash;<option *ngFor="let cat of categories" [value]="cat.id">&ndash;&gt;-->
          <!--&lt;!&ndash;{{cat.name}}&ndash;&gt;-->
        <!--&lt;!&ndash;</option>&ndash;&gt;-->
      <!--</select>-->
      <select class="form-control" id="select_categroy" [(ngModel)]="category" (change)="loadProdudts($event)">
        <option value="1">Cat1</option>
        <option value="2">cat2</option>
      </select>
    </div>
    <div class="col-md-4">
      <label >{{ 'HOME.SEARCH' | translate}} :</label>
      <app-search></app-search>
    </div>
  </div>
  <p></p>
  <span>{{ 'HOME.PRODUCTS' | translate}} :</span>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{{ 'HOME.NAME' | translate}}</th>
      <th>{{ 'HOME.MODEL' | translate}}</th>
      <th>{{ 'HOME.IMAGE' | translate}}</th>
      <th>{{ 'HOME.MANUALINPDF' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pro of products">
      <td>
        <a routerLink="/home/product/{{pro.id}}">
        {{pro.name}}
        </a>
      </td>
      <td>{{pro.model}}</td>
      <td>
        <span *ngIf="pro.primaryImage.url != ''"><img class="img-thumbnail img-small" width="100" height="100" alt="200x200" src="{{pro.primaryImage.url}}" data-holder-rendered="true"></span>
      </td>
      <td>
        <span *ngIf="pro.manuals.length > 0"><a style="cursor: pointer"  href="{{pro.manuals[0].url}}" download>{{ 'HOME.DOWNLOAD' | translate}}</a></span></td>
      </tr>
    </tbody>
  </table>
</div>
