<!-- Sidebar -->
<nav id="sidebar">
  <ul class="sidebar-nav">
    <!--<li>-->
    <!--<a href="" disabled="disabled">Add Company </a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Add Representative</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Product</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Category</a>-->
    <!--</li>-->
    <li>
      <a style="color: white; cursor: pointer" href="/sp">Send Email</a>
    </li>
    <li>
      <a style="color: white; cursor: pointer" href="/sp/updateprofile">Update Profile</a>
    </li>
  </ul>
  <!-- /#sidebar-wrapper -->
</nav>
