<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4"></h2>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <br />
          <br />
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Login as a Service Provider</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="uname11">Username</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="uname11" id="uname11"  [(ngModel)]="user.username">
                <div class="invalid-feedback" *ngIf="error == 'username'" [className]="error == 'username' ? 'show' : 'hide'">Oops, you missed the UserName.</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg rounded-0" id="pwd11"  autocomplete="new-password" [(ngModel)]="user.password">
                <div class="invalid-feedback" *ngIf="error == 'password'" [className]="error == 'password' ? 'show' : 'hide'">Enter your password too!</div>
              </div>
              <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                </label>
              </div>
              <div style="color: red" *ngIf="error == 'all'" [className]="error == 'all' ? 'show' : 'hide'">please select all fields</div>
              <div style="color: red" *ngIf="error == 'notfound'" [className]="error == 'notfound' ? 'show' : 'hide'">User not found</div>
              <br />
              <button type="submit" class="btn btn-secondary btn-lg float-right" id="btnLogin" (click)='clickMe()'>Login</button>
              <img *ngIf="loader"  src="./assets/loader.gif" style="max-height: 28px;max-width: 28px"/>
            </div>
          </div>
        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
